#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.contact-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.form-error {
  font-weight: 500;
  font-size: 1em;
  color: red;
}

label {
  margin-top: 1.25em;
}

/* label + input {
  margin-bottom: 1em;
} */

.submit-btn {
  border: 1px solid #2369bf;
  background-color: #2369bf;
  margin-top: 1.5em;
}